.appointment-div {
    background: #DEEEFF;

}

.formdiv {
    display: grid;
    justify-content: center;
    align-items: center;

}
.formdiv>h1 {
    font-size: 34px;
}



.appointment-button {
    background-color: #0474ED;
    color: white;
    Width: 160px;
    Height: 34px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
}

.appointmentimg {
    padding-top: 30px;
    height: 290px;
}

.appointment-form>div>input,
textarea {
    width: 260px;
    margin-bottom: 8px;
    background: #DEEEFF;
    padding: 2px 2px 2px 6px;
    border-radius: 4px;
    border: 3px #D9D9D9 solid;
    resize: none;

}

.appointmentimg-div {
    background-color: white;
    padding-bottom: 10px;
    display: none;
}
.appointment-form>div>input {
    height: 36px;
}

@media screen and (min-width: 768px) {
   
    .appointment-form>div>input {
        width: 160px;
        height: 40px;
        margin: 6px;
        margin-bottom: 0;
    }

    .appointment-form>textarea {
       margin-top: 6px; 
       width: 332px;
    }

    .appointment-button {
        Width: 180px;
        Height: 36px;
        border-radius: 6px;
        font-size: 14px;
    }

    .formdiv {
        width: 50%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .appointmentimg-div {
        width: 50%;
        padding-top: 60px;
        padding-bottom: 20px;
        display: initial;
    }

    .appointmentimg {
        padding-top: 10px;
        height: 360px;
    }

}