.herocontainer {
    background-image: url(../assets/hcareherophoto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 78vh;
    width: 100%;
    background-position: center; 
}


.herocontent {
    background-color: rgba(255, 255, 255, 0.475);
    width: 280px;
    margin: 0px 20px;
    padding: 10px;
    border-radius: 5px;
}

.herocontent>h1 {
    font-weight: 800;
    font-size: xx-large;
}


.herobutton {
    background-color: #0474ED;
    color: white;
    Width: 160px;
    Height: 32px;
    border: none;
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .herocontainer {
        height: 85vh;

    }

    .herocontent {
        width: 80%;
        margin: 120px 0px 0px 0px;
        padding: 36px;
    }
    

    .herocontent>p {

        font-size: large;
    }
    .herobutton{

        Width: 300px;
        Height: 60px;
    }
}

@media screen and (min-width: 1024px) {
    .herocontainer {
        height: 100vh;

    }

    .herocontent {
        width: 66%;
    }

    .herocontent>h1 {
        font-weight: 700;
        font-size: 50px;
    }

    .herocontent>p {

        font-size: large;
    }

}